# .env.example will be copied to .env on first run.
# https://api-portal.tfl.gov.uk for api keys. see more info in
# the README.md
PRIMARY_API_KEY=your_primary_api_key_here
SECONDARY_API_KEY=your_secondary_api_key_here